.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 1rem;

}

.name-drink {
    font-family: Phetsarath OT;
    margin-top: 100px;
}

.name-menu {
    font-family: Phetsarath OT;
}

.name-tum {
    font-family: Phetsarath OT;
}

.name-yum {
    font-family: Phetsarath OT;
}

.name-kaeng {
    font-family: Phetsarath OT;
}

.product-con {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-row-gap: 0.5rem;
    grid-column-gap: 0.5rem;
}

.product-items {
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.3);
    transition: 0.5s;
    outline: 1px solid white;
    cursor: pointer;
}

.product-items:hover {
    outline: 1px solid rgb(0, 67, 235);
}

.product-detail {
    padding: 1rem;
    font-family: Phetsarath OT;
    font-size: 23px;
    font-weight: bolder;
}

.product-price {
    padding: 1rem;
    font-family: Phetsarath OT;
    font-size: 22px;
}

.product-img img {
    width: 100%;
}

@media only screen and (max-width: 500px) {
    .name-drink {
        margin-top: 100px;
    }

    .product-con {
        grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    }
}