* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.con {
    max-width: 1140px;
    margin: 0 auto;
}

nav {
    background-color: rgb(2, 2, 87);
    position: fixed;
    width: 100%;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    position: relative;
}

.nav-wrapper .logo h1 {
    color: white;
    font-size: 2rem;
}

.menu {
    display: flex;
    list-style: none;
}

.menu li {
    margin-left: 30px;
}

.menu li a {
    color: white;
    text-decoration: none;
    font-family: Phetsarath OT;
    font-size: 1.5rem;

}

/* Start Ham menu bar */
.ham-menu {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 1rem;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #ffffff;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

/* Eed Ham menu Bar */

.BTL{
    color: white;
    padding: 12px 16px;
    min-width: 70px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(3, 3, 152);
    min-width: 70px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: rgb(2, 2, 87);
}
.dropdown-content .BTL:hover {
    background-color: rgb(2, 2, 87);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.footer {
    color: rgb(31, 31, 96);
    text-align: center;
    font-size: 20px;
    padding: 1.5rem;

    & .fb {
        color: rgb(2, 2, 87);
    }
}

@media only screen and (max-width: 955px) {
    .menu {
        display: none;
    }

    nav {
        position: fixed;
        width: 100%;
    }

    .nav-wrapper {
        padding: 1rem;
        height: auto;
        flex-direction: column;
        align-items: flex-start;
    }

    .menu {
        width: 100%;
    }

    .menu li {
        margin: 2rem 0;
        padding: 1rem 0.5rem;
        border-radius: 5px;
    }

    .menu li:hover {
        background-color: rgb(0, 0, 74);
    }

    .menu-active {
        display: block !important;
    }

    .footer {
        font-size: 15px;
        padding: 2rem;
    }
}

@media only screen and (max-width: 1140px) {
    .nav-wrapper {
        padding: 2rem;
    }
}

@media only screen and (min-width: 955px) {
    .ham-menu {
        display: none;
    }
}